a.nav-link.active{
  border-bottom:1px solid black;
}

/*START Aufgabe 1*/
    
#spriteFlame {
      height: 360px;
      width: 130px;
      background: url("../img/sprite_flame_edit.jpg")
        0px 0px;
        animation: spriteImage 3s steps(7) infinite;
      }
      @keyframes spriteImage {
        100% {
          background-position: -910px;
        }
      }

      #spriteContainer{
        display: inline-flex!important;
        flex-direction: column;
        align-items: center;
    }
/*END Aufgabe 1*/